.banner{
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
    height: fit-content;
    position: relative;
}
.banner img{

    width: 100%;
    max-height: 300px;
    object-fit: cover;
}
.content-banner{
    display: flex;
    position: absolute;
    bottom: 10%;
    width: 1200px;
    height: 76px;
    justify-content: center;
    background-color: rgba(173, 151, 153, 0.5);
}
.content-banner .slider{
    overflow: hidden;
    text-align: center;
    font-size: 50px;
    font-family: var(--font);
    color: #fff;
    opacity: 1;
    font-weight: 700;
    display: block;
}

.wrapper-nav{
    max-width: 1260px;
    padding: 0 30px 0 20px;
    margin: 0 auto;
}
.nav-container ul{
    display: flex;
    padding: 0;
}
.nav-container ul li{
    padding: 12px 10px 18px 10px;
}

.nav-container ul li a{
    font-family: var(--font);
    color: var(--textColor);
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline !important;

}
.nav-container ul li .active{
    color: blue;
}
.nav-container ul li a:hover{
    color: blue;
}
.form{
    max-width: 1260px;
    padding: 0 30px;
    margin: 0 auto;
}

.form .title{
    color: var(--textColor);
    font-family: var(--font);
    font-size: 50px;
    border-bottom: 2px solid var(--textColor);
    font-weight: 700;
    line-height: 1;
    padding-bottom: 8px;
}
.form-container{
    margin-top: 12px;
}
.form-content .label{
    padding: 0 24px;
    font-size: 18px;
    font-family: var(--font);
    color: var(--textColor);
}
.form-content .label.label-last{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form-content .form-group input{
    width: 100% !important;
    padding: 0 12px;
    height: 35px;
    border: 2px solid var(--textColor);
    font-family: var(--font);
}
.form-content .form-group textarea{
    width: 100%;
    height: 142px;
    border: 2px solid var(--textColor);
    padding: 0 12px;
    font-family: var(--font);
}
.form-content .form-group input::placeholder{
    font-size: 18px;
    font-family: var(--font);
    opacity: 0.2;
    font-weight: 400;

}
.form-content>div{
    margin-bottom: 12px;
}
.form-btn{
    display: flex;
    padding: 4px;
}
.form-btn button{
    font-size: 24px;
    border: none;
    font-family: var(--font);
    color: #fff;
    background-color: var(--textColor);
    padding: 12px;
    border-radius: 5px;
    line-height: 1;
    transition: ease 1s all;
}
.form-btn button:hover{
    background-color: aqua;
}
/* warning p */
.warning {
    margin: 0;
    padding: 0 12px;
    font-family: var(--font);
    font-size: 16px;
    color: red;
}
.text{
    margin: 0;
}
.form-group.invalid #text{
    color: red;
    font-size: 16px;
    font-family: var(--font);
}
.form-group.valid #text{
    color: green;
    font-size: 16px;
    font-family: var(--font);
}
.form-group {
    position: relative;
}
.form-group.invalid::before{
    content: "";
    position: absolute;
    display: block;
    background-image:url(../image/invalid.png);
    right: 20px;
    top: 6px;
    width: 24px;
    height: 24px;
    background-size: cover;
    z-index: 1000;
}
.form-group.valid::before{
    content: "";
    position: absolute;
    display: block;
    background-image:url(../image/valid.png);
    right: 20px;
    top: 6px;
    width: 24px;
    height: 24px;
    background-size: cover;
    z-index: 1000;
}
#result.fail{
    font-family: var(--font);
    color: red;
    font-size: 20px;
}
#result.success{
    font-family:var(--font);
    color: green;
    font-size: 20px;
}